<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connexion</title>
</head>
<body>
    <h1>Connexion</h1>
    <form th:action="@{/login}" method="post">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Se connecter</button>
    </form>
    <p>Pas encore inscrit ? <a th:href="@{/inscription}">Inscrivez-vous ici</a></p>
</body>
</html>
